body {
  background-color: #f4f4f4;
}
.row{
  *zoom:1;
  border: 1px dashed green;
}
.row:before,
.row:after{
  content:" ";
  display:table;
}
.row:after{
  clear:both;
}
.box{
  box-sizing: border-box;
}

/*.container{
  outline: 1px dotted gray;
}

.container > *{
  outline: 1px dotted green;
}

.container > * > *{
  outline: 1px dotted red;
}

.container > * > * > *{
  outline: 1px dotted blue;
}

.container > * > * > * > *{
  outline: 1px dotted magenta;
}*/


.container{
  width: 950px;
  margin: 0 auto;
  text-align: center;/* aya doroste in kar?*/
  /*background-image:url('images/backguid.jpg');*/
  /* cherea tak ' chere 2 tayi nemizari "( mesle img???? */
  background-repeat: no-repeat;
  min-height: 870px;
}
.row1{
  height: 140px;

}
.row1 .boxl{
  float: left;
  width: 40%;
  height: 140px;
}
menu.main {
  margin-top: 65px;
  list-style-type: none;
  
}

menu.main:after{
  display: table;
  content:" ";
  clear:both;
}
menu.main li {
  margin-left: 50px;
  float: left;
}
menu.main li:first-child{
  margin-left: 0px;
  float: left;
  text-align:left;  
}
/*chera hom inghadr fasele dare az chap!???*/

menu.main li a{
font-family: "HouschkaRounded-Medium", sans-serif;
font-size: 28px;

}
.row1 .boxc{
  float: left;
  width: 20%;
  height: 140px;
  background-image:url('images/logo.png');/* cheara kar nemikone???*/
  background-position: top;
  background-repeat: no-repeat;
  
  
  z-index: +1;*/
}
.row1 .boxr{
  float: left;
  width: 40%;
  height: 140px;
}
.row2{
 height: 520px; 
}
.row2 .boxl {
  position: relative;
  float: left;
  width: 50%;
  height: 520px;
padding-top: 120px;
padding-left: 20px;

}
.row2 .boxl p{
  text-align: left;
  line-height: 1;
  font-size: 18px;
  color:#999;
}

.row2 .boxl img.i1 {
  width: 235px;
  height: 40px;
  position: absolute;

  left: 14px;
  top: 60px;
}
.row2 .boxl a.button{
  font-family: "HouschkaRounded-Medium", sans-serif;
  text-decoration: none;
  border: none;
  background: #ffd202;
  padding: 10px 20px 6px;
  font-size: 22px;
  color: #414141;
}
a.button:hover{
  color: #000;
}
/*chera kar nemikone???????*/
.row2 .boxr {
  float: left;
  width: 50%;
  height: 520px;
  position: relative;
  /*background-image:url('images/cast.png'); */
}
.row2 .boxr .back {
  position: relative;
  margin-left:70px ;
  /*agha chE KONIM BIYAD VASAT ERTEFAE*/
  margin-top: 50px;
}
.row2 .boxr .top{
  /*border: 10px solid black;*/
position: absolute;
/*float: left;*/
left: 105px;
z-index:1;
top: 0px;
}
.row2 .boxr .back .top:before{
  content:" ";
  display:table;
}
.row3{
 height: 210px; 
 position: relative;
}
.row3 .boxt {
  height: 110px;
  /*position: absolute;*/
  /*top: 36px; 
  left: 340px;*/
}
.row3 .boxt img{
  position: absolute;
  left: 340px;
  top: 35px;
  /*top: 36px; 
  left: 340px;*/
}
.row3 .boxc {
  height: 40px;
}
.row3 .boxd{
  height: 60px;
}
menu li:hover {
  
};