body{
  background-color: #f4f4f4;
}

/*start main form*/

.container{
  width: 950px;
  margin: 0 auto;
  background-repeat: no-repeat;
  min-height: 500px;
}

.row{
  *zoom:1;
}

.row:before,
.row:after{
  content:" ";
  display:table;
  width: 0;
  height: 0;
}

.row:after{
  clear:both;
}

.box{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*end main form*/
/*start header*/

.box1{
	width: 37%;
	float: left;
}

.box3{
	float: right;
	width: 37%;
}

.box2{
	width: 26%;
	float: left;	
}

div.box2 img{
	padding: 10px 0px 0 30px;
}


menu.main{
    width: 99%;
    background-color: red;
}


menu.main li{
  list-style-type: none;
  float: left;
}

menu.main li a{
  text-transform: capitalize;
  text-decoration: none;
  color: :black;
  padding: 45px 17px 0 0;
  display: block;
  color: #808080;
  font-size: 17px;
  font-family: 'PT Serif Caption', serif; 
}

/*end header*/
/*start floor2*/

.floor2{
	margin-top: 90px;
}

div.box4{
 float: left;
 width: 49%;
}

div.box5{
  width: 50%;
  float: left;
}

p.left{
	margin-top: 35px;
	font-size: 17px;
	color:#999;
	line-height: 2;
	white-space: nowrap;
}

.boxwhatch{
	background-color: #ffd202;
	width: 70%;
	min-height: 50px;
}

.boxwhatch a{
	font-size: 18px;
	color: black;
	font-family: 'Mystery Quest', cursive;
	text-decoration: none;
}

/*end floor2*/

.hr1{
	width: 950px;
	color: #999;
}

/*start floor3*/

.footertop{
	margin:20px 0 0 170px;
}

.footerdown{
	margin-left: 10px 0 0 30px;
}

.footerdown p{
	color: #999;
}

.footerdown a{
	color: black;
	margin-left: 0 0 0 5px;
}

/*end floor3*/