.row1{
  *zoom:1;
}

.row1:before,
.row1:after{
  content:" ";
  display:table;
}

.row1:after{
  clear:both;
}

.box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.row1{
	min-height: 140px;
}

div.container{
	width: 950px;
	min-height: 920px;
	margin: 0 auto;
}

div.mnuleft{
	float: left;
	display: block;
	width: 400px;
}

li.left{
	list-style-type: none;
	float: left;
	display: block;
	padding:75px 40px 0 0px;
}

a.left{
	font-size: 20px;
	color: #808080;
	text-transform: capitalize;
	text-decoration: none;
}

a.left:hover{
	color: black;
}

div.center{
	background-image: url('image/logo.png');
	width: 135px;
	height: 135px;
	background-position: 0 0;
	background-repeat: none;
	margin: 0 auto;
	margin-top: 10px;	
	float: left;
	display: block;
}

div.center:hover{
	background-position: 0 -135px;
}

div.mnuright{
	float: right; 
	display: block;	
	width: 400px;
}

li.right{
	list-style-type: none;
	float: left;
	display: block;
	padding: 75px 0 0 50px;
}

a.right{
	font-size: 20px;
	color: #808080;
	text-transform: capitalize;
	text-decoration: none;
}

a.right:hover{
	color: black;
}

.row2{
  *zoom:1;
}

.row2:before,
.row2:after{
  content:" ";
  display:table;
}

.row2:after{
  clear:both;
}

.box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.row2{
	min-height: 500px;
}

div.sliderleft{
	float: left;
	display: block;
}

img.left{
	padding-top: 80px;
}

p.left1{
	color: #999;
	font-size: 20px;
	line-height: 1.48;
	margin-top: 20px
}

p.left2{
	color: #999;
	font-size: 20px;
	line-height: 1.48;
}

div.trailer{
	height: 35px;
	width: 400px;
	background-color: #ffd202 ;
	margin-top: 40px;
	line-height: 35px;
}

div.sliderright{
	float: right;
	display: block;
}

p.trailer{
	font-size: 25px;

}

a.trailer{
	text-decoration: none;
	color: black;
	padding-left: 2px 0 0 5px;
	display: block;
	text-transform: capitalize;
}

img.video{
	float: right;
	margin: 12px 35px 0 0;
}

