body{
  background-color: #F4F4F4;
}
.container{
  width: 950px;
  margin: 0 auto;
  background-image: url('images/backguid.jpg');
  background-repeat: no-repeat;
  min-height: 500px;
}
.row:before,
.row:after{
  content:" ";
  display:table;
}
.row:after{
  clear:both;
}
.box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nav{
  *zoom:1;
  min-height: 135px;
  text-align: center;
  vertical-align: middle;
}
.nav a{
  text-decoration: none;
  font-size: 18px;
  color: #808080;
  text-transform: capitalize;
  font-family: tahoma;
  font-size: 18px;
}
.nav a:hover{
  color: black;
}

.nav-left{
  width: 40%;
  float: left;
}

.logo1{
  width: 20%;
  float: left;
}

.nav-right{
  width: 40%;
  float: left;
}

li{
  list-style: none;
  width: 33%;
}

.nav-left li{
  float: left;
}

.nav-right li{
  float: left;
}













.container > *{
  border: 1px dashed green;
}

.container > * > *{
  border: 1px dashed red;
}

.container > * > * > *{
  border: 1px dashed blue;
}

.container > * > * > * > *{
  border: 1px dashed magenta;
}