.container{
  width: 950px;
  margin: 0 auto;
  background-image: url('images/backguid.jpg');
  background-repeat: no-repeat;
  min-height: 871px;
}

.row {
  *zoom:1;
  border: 1px dashed green;
  height: 
}

.row:before,
.row:after {
  content:" ";
  display:table;
}

.row:after {
  clear:both;
} 

.box {
  box-sizing: border-box;
}

.container {
  outline: 1px dotted gray;
}

.container > * {
  outline: 1px dotted green;
  height: 100px;
}


