.container{
  width: 950px;
  margin: 0 auto;
  background-image: url("images/backguid.jpg");
  background-repeat: no-repeat;
  min-height: 900px;
}

.row{
  *zoom:1;
  border: 1px dashed green;
}
.row:before,
.row:after{
  content:" ";
  display:table;
}
.row:after{
  clear:both;
}
.box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container{
  outline: 1px dotted gray;
}

.left {
  float: left;
}
.right{
  float:right;
}
.header ul{
  list-style-type: none;
}
.header li{
  float: left;
}

.header li a{
  text-decoration: none;
  text-transform: capitalize;  
  color: black;
}

.hcol1{
  width: 40%;  
  margin-top: 50px;  
}
.hcol1 li{
  padding-right: 30px;
}
.hcol3 li{
  padding-right: 50px;
}
.hcol2{
  width: 20%;
  /*height: 130px;*/
  /*background: url("images/logo.png") no-repeat;  */
}
.hcol2 a{
  background: url("images/logo.png") no-repeat;
  height: 135px;
  width: 135px;
  display: block;
}
.hcol2 a:hover{
  background-position: left bottom;
}
.hcol3{
  width: 40%;  
  margin-top: 50px;  
}
.mcol1{
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-top: 40px;
}
.mcol2{
  float:left;
  width: 50%;
  padding-left: 90px;
}

.welcome{
  background: url("images/welcome_title_full.png") no-repeat;
  width: 325px;
  height: 55px;
}
.mcol1 p{
  line-height: 1.48;
  font-size: 18px;
  color: grey;
}
.mcol1 a{
  background: url("images/video_play_icon.png") no-repeat scroll right center #FFD202 ;
  font-family: tahoma;
  font-size: 22px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;  
  text-decoration: none;
  color: black;
}
.award{
  margin-top: 80px;
  border-top: 1px solid grey;
}
.awcol{
    text-align: center;
    margin-left:15px;  
    padding-top: 40px;     
}
.links{
  list-style-type: none;
}
.links li{
  float: left;
}
.links .fb a{
  background: url("images/fb_icon.png") no-repeat ;
}